<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produk</h1>
    <ul>
        <li>
    <a href="/home">Home</a>

        </li>
        <li>
    <a href="/produk">Produk</a>

        </li>
    </ul>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Kirim">
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nama Produk</th>
            <th>Opsi</th>
        </tr>

        {% for dt in produk %}
        <tr>
            <td>{{dt.id}}</td>
            <td>{{dt.nama}}</td>
            <td>
                <a href="{% url 'hapus-produk' dt.id %}">Hapus</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> 